@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

canvas {
  width: 750px;
  height: 750px;
}

p {
  text-align: center;
  color: green;
}

.app {
  margin: 2rem auto;
  border: 2px solid green;
  width: 750px;
  height: 750px;
}
