@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --width: 600px;
  --height: 600px;
}

body {
  @apply bg-black;
}

canvas {
  @apply focus:outline-0;
  width: var(--width);
  height: var(--height);
}

p {
  @apply text-center text-green-800;
}

.app {
  @apply relative border-2 border-solid border-green-800 my-8 mx-auto;
  width: calc(var(--width) + 4px);
  height: calc(var(--height) + 4px);
}

.surface {
  @apply text-4xl absolute right-1 top-1;
}

.pause {
  @apply text-green-800 cursor-pointer;
  &.on {
    @apply text-green-300;
  }
}
